/Users/srina/Downloads/AgriBot/app/models filter=lfs diff=lfs merge=lfs -text
UserssrinaDownloadsAgriBotappmodels filter=lfs diff=lfs merge=lfs -text
c:UserssrinaDownloadsAgriBotappmodels filter=lfs diff=lfs merge=lfs -text
c:/Users/srina/Downloads/AgriBot/app/models filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
